---
title: readme
category: documentation
---

<script lang="ts">
	import { menuFirst } from '$lib/menuList.js';
	import Navig from '$lib/Navig.svelte';

	import Readme from '../../../README.md';
</script>

<Navig slot="navig" menuList={menuFirst} />


<Readme />
