.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
README.md

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# ignore app.html because of flickering behavior
# TODO: remove those lines when prettier is stabilized
src/app.html

static/katex.min.css
