---
title: Parametrix'docs
category: documentation
---

<script lang="ts">
	import Navigat from '$lib/Navigat.svelte';
</script>

<Navigat />


# {title}

## sous titre

la maison dans le jarding.

## deuz

la maison dans la praire.

<style lang="scss">
	@use '$lib/style/colors.scss';

	h1 {
		margin: 1rem;
	}
</style>
