---
title: Geom's user docs
category: documentation
---

<script lang="ts">
	import { base } from '$app/paths';
</script>


# {title}





<style lang="scss">
	@use '$lib/style/colors.scss';

	h1 {
		margin: 1rem;
	}
</style>
